<app-reusable-header title="My Teaching"></app-reusable-header>
<div class="container">
    <app-portofolio-card title="programare i" subtitle="(C programming)" image="../../assets/ubb-logo.svg"></app-portofolio-card>
    <app-portofolio-card title="programare ii" subtitle="(Python programming)" image="../../assets/ubb-logo.svg"></app-portofolio-card>
    <app-portofolio-card title="programare iii" subtitle="(C# programming)" image="../../assets/ubb-logo.svg"></app-portofolio-card>
    <app-portofolio-card title="soa" image="../../assets/ubb-logo.svg"></app-portofolio-card>
    <app-portofolio-card title="soa" image="../../assets/ubb-logo.svg"></app-portofolio-card>
    <app-portofolio-card title="soa" image="../../assets/ubb-logo.svg"></app-portofolio-card>
</div>