<app-reusable-header title="About me"></app-reusable-header>
<div class="container">
    <div class="short-info">
        <h3>Short bio</h3>
        <p>I am Assistant Professor at Computer Science Department, Faculty of Mathematics and Computer Science, Ph.D. candidate at Doctoral School of Computer Science at Babes Bolyai University of Cluj, Romania.</p>
        <h3>Fields of Scientific interests</h3>
        <p>My interest in Distributed and Parallel Computing, Medical Image Processing, High Performance Computing, Machine Learning and Statistics is reflected under my research activity.</p>
        <div class="columns-container">
            <div class="two-column">
                <p><fa-icon [icon]="checkIcon"></fa-icon>Medical Image Processing</p>
                <p><fa-icon [icon]="checkIcon"></fa-icon>Distributed Computing</p>
                <p><fa-icon [icon]="checkIcon"></fa-icon>Machine Learning</p> 
            </div>
            <div class="two-column">
                <p><fa-icon [icon]="checkIcon"></fa-icon>Parallel Computing</p>
                <p><fa-icon [icon]="checkIcon"></fa-icon>High Performance Computing</p>
                <p><fa-icon [icon]="checkIcon"></fa-icon>Statistics</p>
            </div>
        </div>
        <div class="columns-container">
            <div class="three-column">
                <button class="blue-button"><fa-icon [icon]="paperPlaneIcon"></fa-icon>Send me a message</button>
            </div>
            <div class="three-column">
                <button><fa-icon [icon]="downloadIcon"></fa-icon>Curriculum Vitae</button>
            </div>
            <div class="three-column">
                <button class="red-button"><fa-icon [icon]="paperPlaneIcon"></fa-icon>Make an appointment</button>
            </div>
        </div>
    </div>
    <div class="biography">
        <div class="my-photo">
        </div>
        <ul>
            <li><strong>Name:</strong> Olivia-Debora MOISI</li>
            <li><strong>Address:</strong> Str. Teodor Mihali, Nr. 58-60 Campus FSEGA, Room F109, Cluj-Napoca 400591, Cluj, Romania</li>
            <li><strong>Nationality:</strong> Romanian</li>
            <li><strong>Office Phone:</strong> (+40) 256 111-111</li>
            <li><strong>Email:</strong> debora.moisi@ubbcluj.ro</li>
            <li><strong>Quote:</strong> "Good code is its own best documentation."
                <br><span id="author">Steve McConnell</span></li>
        </ul>
    </div>
</div>
