.container {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.short-info {
    width: 65vw;
}

.short-info h3 {
    margin-bottom: 30px;    
    text-transform: uppercase;
}

.biography {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 90vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #EEEEEE;
}

.biography ul {
    padding: 25px 20px;
    margin: 0;
    list-style-type: none;
}

.biography ul li {
    padding: 5px 0;
    font-size: 16px;
    text-align: justify;
    border-bottom: 1px solid #EEEEEE;
}

.columns-container {
    display: flex;
    flex-direction: row;  
    justify-content: center;
}

.two-column {
    width: 25vw;
}

.three-column {
    width: 15vw;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
}

.my-photo {
    background: url(../../assets/Me.jpeg) center no-repeat;
    background-size: contain;
    min-height: 60%;
}

fa-icon {
    margin-right: 3%;
}

@media all and (min-width: 801px) and (max-width: 1800px) {
    .container {
        margin-bottom: 15%;
    }

    button, .three-column {
        height: 35%;
        margin-right: 2%;
    }
}

@media all and (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .biography {
        width: 90vw;
        height: 98vh;
        margin-bottom: 10%;
        padding-bottom: 5%;
    } 
    
    .short-info {
        width: 90vw;
        height: fit-content;
        margin-bottom: 10%;
    }

    .three-column {
        flex-direction: column wrap;
    }

    button {
        height: 25vh;
    }

    .my-photo {
        min-height: 70%;
    }
}

@media all and (max-width: 320px) {
    .biography ul {
        overflow: scroll;
        margin-bottom: 10%;
    }

    .columns-container {
        display: flex;
        flex-direction: column;   
    }

    .two-column {
        width: 80vw;
    }

    .three-column {
        margin-bottom: 1%;
    }

    button {
        width: 80vw;
        height: 10vh;
    }
}

@media all and (min-width: 601px) and (max-width: 799px) {
    .three-column {
        height: 30%;
        margin-right: 10%;
    }
}

@media all and (min-width: 321px) and (max-width: 600px) {
    .columns-container {
        display: flex;
        flex-direction: column;   
    }

    .two-column {
        width: 80vw;
    }

    .three-column {
        margin-bottom: 1%;
    }

    button {
        width: 80vw;
        height: 10vh;
    }

    .biography ul {
        overflow: scroll;
    }
}

p {
    margin-bottom: 5%;
    margin-right: 5%;
    text-align: justify;
}

#author {
    float: right;
    margin-right: 7%;
}