.header {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    line-height: 50px;
    color: #2c3e50;
    margin-top: 3%;
    margin-bottom: 5%;
}

@media all and (max-width: 390px) {
    .header {
        font-size: 20px;
        text-align: center;
    }
}

img {
    margin-top: 1%;
}