<div class="nav">
    <span class="nav-logo">
        Moisi Debora
    </span>
    <div class="nav-item" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Home
    </div>
    <div class="nav-item" routerLink="about" routerLinkActive="active">
        About
    </div>
    <div class="nav-item" routerLink="teaching" routerLinkActive="active">
        Teaching
    </div>
    <div class="nav-item" routerLink="contact" routerLinkActive="active">
        Contact
    </div>
</div>
<div class="nav-double-line"></div>