<app-reusable-header title="Resume"></app-reusable-header>
<div class="resume-container">
    <div class="resume-title">
        <h3>EDUCATION</h3>
    </div>
    <div class="resume">
        <app-resume-timeline-card position="right" 
            title="PH.D. DEGREE CERTIFICATE"
            profile="Computer Science"
            organization="Doctoral School of Computer Science, Babes Bolyai University of Cluj-Napoca, Romania"
            postedDate="2021-2023"></app-resume-timeline-card>
        <app-resume-timeline-card position="left"
            title="Master Degree Certificate"
            profile="Problem-based Learning in Higher Education"
            organization="Department of Teacher Training, West University of Timisoara, Romania"
            postedDate="2019-2021"></app-resume-timeline-card>
        <app-resume-timeline-card position="right" 
            title="Master Degree Certificate"
            profile="Software Engineering"
            organization="Faculty of Mathematics and Computer Science, Babes Bolyai University of Cluj-Napoca, Romania"
            postedDate="2017-2019"></app-resume-timeline-card>
        <app-resume-timeline-card position="left"
            title="Postgraduate Training Programme Certificate"
            profile="Problem-based Learning in Higher Education"
            organization="Department of Teacher Training, Babes Bolyai University of Cluj-Napoca, Romania"
            postedDate="2016-2017"></app-resume-timeline-card>
        <app-resume-timeline-card position="right" 
            title="Bachelor Degree"
            profile="Business Information Systems"
            organization="Faculty of Economics and Business Administration, Babes Bolyai University of Cluj-Napoca, Romania"
            postedDate="2013-2016"></app-resume-timeline-card>
    </div>
</div>