<div class="container">
    <img src="../../assets/ubb-logo.svg" alt="ubb logo" class="ubb-logo">
    <div class="home-name">Moisi Olivia-Debora</div>
    <div class="home-job">Assistant <span id="green-color">Professor</span></div>
    <div class="home-faculty">at the Computer Science Department of UBB Faculty of Mathematics and Computer Science</div>
    <div class="socials">
        <a href="https://www.linkedin.com/in/debora-moisi-8b201a138/"> 
            <fa-icon [icon]="linkedinIcon" class="icon"></fa-icon>
        </a>
    </div>
</div>